body{background:linear-gradient(to right, #fff0f5, #d8bfd8);
            margin: 0;
            padding: 0;
            box-sizing: border-box;}
header{ background-color:#E6E6FA;
            color: Brown;}
section{ color:darkmagenta;
    padding: 2em;
}
footer{background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
h1,h2,font{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color:brown}
@media only screen and (max-width: 600px) {
            /* Adjust styles for smaller screens */
}
ul{list-style-type: none;overflow:hidden;margin:0;padding:0;}
li{font-family:cursive;float:left;margin-right:20px;}
nav{background-color:Azure;}
a{color:darkcyan;text-decoration:none;}
a:hover{border-bottom: 2px solid deepskyblue;}
.zoom-image {transition: transform 0.3s ease-in-out; }
.zoom-image:hover { transform: scale(1.2);}